.currentTime{
    block-size: 2px;
    background-color: var(--red10);
    inline-size: 5rem;
    position: absolute;
    inset-block-start: 200px;
    inset-inline-start: 100px;
    z-index: 2;
}

.currentTime::before {
    content: '';
    display: block;
    inline-size: 1rem;
    block-size: 1rem;
    background-color: var(--red10);
    border-radius: 50%;
    transform: translateY(-50%);
}

.currentTime.day{
    inline-size: 92%; 
    inset-block-start: 500px;
    inset-inline-start: 4.375rem; 
}