details{
    inline-size: 12.25rem;
}

details summary{
    list-style: none;
    background-image: url('../icons/Icon=chevron-down.svg');
    background-repeat: no-repeat;
    background-position: right .5rem center;
}

details[open] summary{

    font: var(--button);
    list-style: none;
    background-image: url('../icons/Icon=chevron-up.svg');
    background-repeat: no-repeat;
    background-position: right .5rem center;
}

details ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .75rem;
}

details ul li {
    display: flex;
    color: var(--gray30);
    gap: 0.25rem;
}

details ul li i {
    font-size: 1.5rem;
}